:root {
	--white: white;
	--background-color: #323c46;
	--orange: #ff8432;
}

/* GLOBAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--background-color);
}

main {
	min-height: calc(100vh - 142px);
}

.inactive {
	display: none;
}

/* MENU WEB */
.menuWeb {
	padding: 15px 10px;
}

.menuWeb__info {
	display: flex;
	align-items: center;
}

.menuWeb--icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

h1 {
	color: var(--orange);
}

.menuWeb__menu {
	display: none;
}

.backArrow--icon {
	width: 25px;
	height: 25px;
	margin-right: 25px;
}

/* MENU MOBILE */
.menuMobile {
	width: 100%;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 30px 30px 0 0;
	background-color: lightgrey;
}

/* SECTIONS */
.section__container {
	/*width: 100%;*/
	margin: 0 auto;
	padding: 10px;
	/*background-color: white;*/
}

.section__container--title {
	margin-top: 20px;
	font-size: 20px;
	color: var(--orange);
}

.title {
	margin-top: 40px;
}

/* HORIZONTAL SECTION */
.section__containerHorizontal {
	margin: 20px auto;
	padding: 10px 0;	
	overflow-x: scroll;
	overflow-y: hidden;
	overscroll-behavior-x: contain;
}

.section__containerHorizontal::-webkit-scrollbar {
  height: 7px;
}

.section__containerHorizontal::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 80px;
}

.section__containerHorizontal__carrousel {
	white-space: nowrap;
	width: fit-content;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

.arrow__container {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 50%;
}

.arrow {
	width: 24px;
	height: 24px;
}

.arrow--left {
	right: calc(100% - 41px);
}

.arrow--right {
	left: calc(100% - 41px);
}

/* VERTICAL SECTION */
.section__containerVertical {
	margin: 20px auto;
	padding: 10px 0;
	gap: 20px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

/* SEARCH SECTION*/
.sectionSearch {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	gap: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.sectionSearch--input {
	width: 260px;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 8px 0 0 8px;
	outline: 2px solid var(--orange);
	border-color: transparent;
	background-color: lightgrey;
}

.sectionSearch--input:focus {
	background-color: var(--white);
}

.sectionSearch--button {
	width: 40px;
	height: 36px;
	outline-offset: 2px;
	outline: 2px solid var(--orange);
	border-radius: 0 8px 8px 0;
	border-color: transparent;
	background-color: var(--orange);
}

.sectionSearch--button img {
	width: 25px;
	height: 25px;
}

#bySearchTitle {
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

/* CATEGORY SECTION */
.sectionCategory {
	margin: 20px auto;
	padding: 10px 5px;
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.sectionCategory__card {
	width: 120px;
	padding: 10px 0;
	color: var(--white);
	text-align: center;
	font-size: 18px;
	white-space: initial;
	border-radius: 8px;
	border: 1px solid var(--orange);;
}

#byCategoryTitle {
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

/* CARDS */
.cardContainer {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	padding: 5px;
	border-radius: 8px;
	color: var(--white);
}

.cardContainer--img {
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	margin: 0 auto;
	border-radius: inherit;
	background-color: lightgrey;
}

.cardContainer--title {
	height: 35px;
	margin: 10px 0;
	text-align: center;
	white-space: initial;
}

.cardContainer__details {
	margin: 20px auto 0;
	padding: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 12px;
	color: lightgrey;
}

.cardContainer__details--ranking {
	display: flex;
	align-items: center;
}

.cardContainer__details--ranking img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

/* ONE CARD */
.oneCardContainer {
	margin: 0 auto;
	padding: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 8px;
	color: var(--white);
}

.oneCardContainer__img {
	width: 280px;
	height: 380px;
	margin: 0 auto;
	border-radius: inherit;
	background-color: lightgrey;
}

.oneCardContainer__img img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.oneCardContainer__info {
	/*margin-top: 10px;*/
	margin: 10px auto 0;
	padding: 5px;
}

.oneCardContainer__info--title {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
}

.oneCardContainer__info--time {
	margin: 30px 0 10px;
	text-align: center;
}

.oneCardContainer__info__categories {
	margin: 30px auto 10px;
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.oneContainer__description {
	margin-top: 20px;
	text-align: justify;
}

/* FOOTER */
footer {
	margin-top: 40px;
	padding: 10px 10px 60px;
	text-align: center;
	color: var(--white);
}

.footer__socialMedia {
	margin-bottom: 20px;
}

.footer__socialMedia--icon {
	padding-bottom: 5px;
	border-bottom: 1px solid transparent;
}

.footer__socialMedia--icon:nth-child(2) {
	margin: 0 10px;
}

.footer__info {
	font-size: 18px;
}

/* MEDIA QUERYS */
@media (min-width: 768px) {
	main {
		min-height: calc(100vh - 132px);
	}

	.menuMobile {
		display: none;
	}

  .menuWeb {
		padding: 15px 70px 15px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.menuWeb__menu {
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.menuWeb__menu--item {
		padding-bottom: 5px;
		border-bottom: 1px solid transparent;
	}
	
	.menuWeb__menu--item a {
		color: var(--white);
	}

  .section__container {
  	padding: 10px 20px;
  }

  .sectionSearch {
  	justify-content: flex-end;
  }

  .sectionSearch__title {
  	width: 300px;
  }

  .backArrow--icon {
  	display: none;
  }

  form {
		text-align: right;
	}

  .cardContainer {
  	width: 180px;
  	min-width: 180px;
		max-width: 180px;
  }

  .cardContainer--img {
		min-height: 240px;
		max-height: 240px;
	}

  .oneCardContainer__info {
  	width: 400px;
  }

  footer {
  	padding-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .section__container {
  	padding: 10px 80px;
  }

  .menuWeb {
  	padding: 15px 130px 15px 50px;
  }

  .section__containerVertical {
  	justify-content: center;
  }

  .oneCardContainer {
  	width: 820px;
  }

  .oneCardContainer__img {
  	margin: 0;
  }

  .oneCardContainer__info {
  	width: 400px;
  	height: 200px;
  	margin: 0 0 0 120px;
  }

  .oneContainer__description {
  	width: 800px;
  }
}

@media (hover: hover) {
	/*img opacity .85*/
	.menuWeb__menu--item:hover {
		border-color: var(--orange);
	}

	.sectionSearch--button:hover {
		cursor: pointer;
		opacity: 0.6;
	}

	.arrow__container:hover {
		cursor: pointer;
	}

	.cardContainer--img:hover {
		cursor: pointer;
		opacity: 0.6;
	}

	.sectionCategory__card:hover {
		cursor: pointer;
		opacity: 0.6;
	}

	.footer__socialMedia--icon:hover {
		border-color: var(--white);
	}
}